.intro {
  color: $second-font-color;
}

.intro__slogan-box {
  box-sizing: border-box;
  min-height: 305px;
  padding: 10px 35px;

  text-align: center;

  background-color: $bg-color;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.intro__promo {
  min-height: 175px;
}

.intro__promo-img {
  @include img;
  margin-top: -130px;
}
