.life-example {
  padding: 0 20px 40px 20px;

  background-color: $second-bg-color;
}

.life-example__title {
  margin-top: 0;
}

.life-example__description {
  padding-right: 10px;
}

.life-example__results-list {
  @include list;
}

.life-example__nutrition-cost {
  text-align: center;
}

