.popular-catalog {
  padding: 0 20px 0 20px;
}

.popular-catalog__list {
  @include list;
}

.popular-catalog__item {
  padding: 32px 0 25px 0;
}

.popular-catalog__item-link {
  @include img;
}

.popular-catalog__item-name {
  @include link;
}

.popular-catalog__btn {
  &--second-color {
    background-color: $second-bg-color;
    color: $main-font-color;
  }
}

.popular-catalog__show-more {
  padding-top: 80px;
  padding-bottom: 26px;

  text-align: center;
}
