.additional-products__list {
  @include list;

  margin-bottom: 40px;
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 16px;

  border-top: 2px solid #ededed;

  &:last-of-type {
    border-bottom: 2px solid #ededed;
  }
}

.additional-products__title-box {
  position: relative;

  margin: 0;
  padding-top: 29px;
  padding-bottom: 33px;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;

  .wrapper {
    padding-left: 0;
  }
}

.additional-products__title {
  position: relative;

  display: inline-block;
  vertical-align: top;
  padding-right: 22px;
  padding-left: $mobile-padding;
  color: $title-font-color;

  background-color: #ffffff;
  z-index: 2;
}

.additional-products__product-name {
  margin-top: 0;
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #222222;
}

.additional-products__price-box {
  display: flex;
  justify-content: space-between;

  margin-bottom: 14px;

  font-family: $second-font;
  font-size: 14px;
  line-height: 14px;
}

.additional-products__btn {
  padding-top: 11px;
  padding-bottom: 9px;
}

.additional-products__gift {
  position: relative;

  margin: 0;
  padding: 185px 55px 43px 55px;

  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $second-font-color;

  background-color: $bg-color;
  background-image: url("./../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";

    position: absolute;
    top: 65px;
    left: 50%;

    width: 55px;
    height: 60px;
    margin-left: -27.5px;

    background-image: url("./../img/icon-gift.svg");
    background-repeat: no-repeat;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("./../img/gift-photo-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .additional-products__title-box {
    margin-bottom: 47px;

    .wrapper {
      padding-left: $tablet-padding;
      padding-right: $tablet-padding;
    }
  }

  .additional-products__title {
    padding-right: 35px;
    padding-left: 38px;

    font-size: 36px;
    line-height: 36px;
  }


  .additional-products__list {
    margin-bottom: 69px;
  }

  .additional-products__item {
    padding: 25px 38px 27px 38px;

    border: 1px solid #e6e6e6;
  }

  .additional-products__product-box {
    display: flex;
    justify-content: space-between;

    padding-bottom: 8px;
  }

  .additional-products__product-name {
    margin: 0;

    font-size: 20px;
    line-height: 20px;
  }

  .additional-products__quantitu {
    display: inline-block;
    vertical-align: top;

    margin-right: 50px;

    text-align: right;

    &--water {
      margin-right: 59px;
    }
  }

  .additional-products__price-box {
    padding-top: 3px;

    font-size: 16px;
    line-height: 20px;
  }

  .additional-products__gift {
    padding: 70px 125px 70px 422px;

    text-align: left;

    background-image: url("./../img/gift-photo-tablet@1x.jpg");

    &::before {
      left: 120px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/gift-photo-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-products__title-box {
    margin-bottom: 47px;

    .wrapper {
      padding: 0;
    }
  }

  .additional-products__title {
    padding-right: 38px;
    padding-left: 38px;
  }

  .additional-products__content-box {
    .wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .additional-products__list {
    width: 895px;
    margin-bottom: 0;
  }

  .additional-products__item {
    display: flex;
    justify-content: space-between;

    padding: 15px 0;

    border-left: 0;
    border-right: 0;
  }

  .additional-products__gift {
    align-self: stretch;
    width: 245px;
    margin: 0;
    padding: 185px 40px 40px 40px;

    text-align: center;

    background-image: url("./../img/gift-photo-desktop@1x.jpg");
    background-size: cover;

    &::before {
      left: 52%;
      margin-left: -32.5px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/gift-photo-desktop@2x.jpg");
    }
  }

  .additional-products__btn {
    width: 245px;
  }

  .additional-products__product-box {
    width: 613px;

    align-items: center;
    padding-bottom: 0;
  }

  .additional-products__price-box {
    display: flex;
    justify-content: space-between;

    width: 287px;
    margin-bottom: 0;
  }

  .additional-products__price {
    display: inline-block;
    min-width: 43px;
  }
}
