.additional-products__list {
  @include list;

  margin-bottom: 40px;
}

.additional-products__item {
  padding-top: 14px;
  padding-bottom: 18px;

  border-top: 1px solid #ededed;

  &:last-of-type {
    border-bottom: 1px solid #ededed;
  }
}

.additional-products__title {
  position: relative;

  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;

  span {
    position: relative;

    display: inline-block;
    vertical-align: top;
    padding-right: 25px;
    padding-left: $mobile-padding;

    background-color: #ffffff;
    z-index: 2;
  }

  &::before {
    content: "";

    position: absolute;

    top: 55%;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: $bg-color;

    z-index: 1;
  }

  .wrapper {
    padding-left: 0;
  }
}

.additional-products__product-name {
  margin-top: 0;
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.additional-products__price-box {
  display: flex;
  justify-content: space-between;

  margin-bottom: 14px;

  font-family: $second-font;
  font-size: 14px;
  line-height: 14px;
}

.additional-products__gift {
  position: relative;

  min-height: 289px;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 190px 55px 20px 55px;

  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $second-font-color;

  background-color: $bg-color;
  background-image: url("./../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";

    position: absolute;
    top: 65px;
    left: 50%;

    width: 55px;
    height: 60px;
    margin-left: -27.5px;

    background-image: url("./../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .additional-products__title {
    font-size: 36px;
    line-height: 36px;

    span {
      padding-right: 38px;
      padding-left: 38px;
    }

    .wrapper {
      padding-left: $tablet-padding;
    }
  }

  .additional-products__product-name {
    margin: 0;

    font-size: 20px;
    line-height: 20px;
  }

  .additional-products__list {
    margin-bottom: 69px;
  }

  .additional-products__item {
    padding: 20px 38px 27px 38px;

    border: 1px solid #e6e6e6;
  }

  .additional-products__product-box {
    display: flex;
    justify-content: space-between;

    padding-bottom: 15px;
  }

  .additional-products__quantitu {
    display: inline-block;
    vertical-align: top;

    margin-right: 50px;

    text-align: right;
  }

  .additional-products__price-box {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-products__gift {
    min-height: 200px;
    padding: 70px 132px 70px 422px;

    text-align: left;

    background-image: url("./../img/gift-photo-tablet@1x.jpg");

    span {
      width: 170px;
    }

    &::before {
      left: 91px;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-products__title {
    padding-top: 50px;
    padding-bottom: 49px;

    span {
      padding-right: 38px;
      padding-left: $desktop-padding;
    }

    .wrapper {
      padding-left: 0;
    }
  }

  .additional-products__content-box {
    .wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .additional-products__list {
    width: 895px;
    margin-bottom: 0;
  }

  .additional-products__item {
    display: flex;
    justify-content: space-between;

    padding: 15.5px 0 15.5px 0;

    border-left: 0;
    border-right: 0;
  }

  .additional-products__gift {
    width: 245px;
    min-height: 289px;
    margin: 0;
    padding: 195px 40px 35px 40px;

    text-align: center;

    background-image: url("./../img/gift-photo-desktop@1x.jpg");
    background-size: cover;

    &::before {
      left: 50%;
      margin-left: -32.5px;
    }
  }

  .additional-products__btn {
    width: 245px;
  }

  .additional-products__product-box {
    width: 610px;

    align-items: center;
    padding-bottom: 0;
  }

  .additional-products__price-box {
    display: flex;
    justify-content: space-between;

    width: 285px;
    margin-bottom: 0;
  }
}
