.additional-products {
  padding-top: 30px;
}

.additional-products__list {
  @include list;
}

.additional-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

.additional-products__product-name {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.additional-products__price-box {
  font-family: $second-font;
  font-size: 14px;
  line-height: 14px;
}

.additional-products__gift {
  position: relative;

  min-height: 289px;
  padding: 190px 55px 20px 55px;

  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $second-font-color;

  background-color: $bg-color;
  background-image: url("./../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  &::before {
    content: "";

    position: absolute;
    top: 65px;
    left: 50%;

    width: 65px;
    height: 60px;
    margin-left: -32.5px;

    background-image: url("./../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .additional-products__item {
    padding: 20px 38px 28px 38px;

    border: 1px solid #e6e6e6;
  }

  .additional-products__product-name {
    margin: 0;
  }

  .additional-products__product-box {
    display: flex;
    justify-content: space-between;

    padding-right: 40px;
    padding-bottom: 20px;
  }

  .additional-products__gift {
    min-height: 200px;
    padding: 70px 132px 70px 422px;

    text-align: left;

    background-image: url("./../img/gift-photo-tablet@1x.jpg");

    span {
      display: block;

      width: 170px;
    }

    &::before {
      left: 120px;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-products__content-box {
    display: flex;

    justify-content: space-between;
  }

  .additional-products__item {
    display: flex;
    justify-content: space-between;

    padding-right: 0;
  }

  .additional-products__gift {
    width: 245px;
    margin: 0;
    padding: 180px 40px 35px 40px;

    text-align: center;

    background-image: url("./../img/gift-photo-desktop@1x.jpg");
    background-size: cover;
  }

  .additional-products__btn {
    width: 245px;
  }

  .additional-products__product-box {
    width: 610px;

    align-items: center;
    padding-bottom: 0;
  }

  .additional-products__price-box {
    display: flex;
    justify-content: space-between;

    width: 285px;
  }
}
