.btn {
  display: block;

  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: $second-font-color;
  background-color: $bg-color;

  &:hover {
    background-color: #5eaa2f;
  }

  span:active {
    opacity: 0.3;
  }

  &--second-style {
    color: $main-font-color;

    background-color: $second-bg-color;

    &:hover {
      background-color: #ebebeb;
    }
  }
}
