.contacts__address-box {
  .wrapper {
    display: flex;

    padding-top: 28px;
    padding-bottom: 25px;
  }
}

.contacts__address {
  font-family: $second-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;

  flex-shrink: 2;
}

.contacts__cooperation {
  margin: 0;
  margin-right: 6px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__map-link {
  position: relative;

  display: block;

  &::before {
    content: "";

    position: absolute;
    top: 51%;
    left: 50%;

    width: 55px;
    height: 53px;

    transform: translate(-50%, -51%);

    background-image: url("./../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 2;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .contacts__cooperation {
    width: 200px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address-box {
    .wrapper {
      display: flex;
      justify-content: space-between;

      padding: 25px 70px 58px 70px;
    }
  }

  .contacts__address {
    width: 165px;

    font-size: 16px;
    line-height: 20px;

    text-align: right;

    span {
      display: inline-block;
      vertical-align: top;
      margin-top: 18px;
    }
  }

  .contacts__map {
    height: 400px;
  }

  .contacts__map-link {
    min-height: 400px;

    &::before {
      top: 50%;
      left: 50%;

      width: 113px;
      height: 106px;

      transform: translate(-50%, -50%);
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__address-box {
    position: absolute;
    top: 47%;
    left: 110px;

    transform: translateY(-47%);

    .wrapper {
      width: 570px;
      margin: 0;
      padding-top: 65px;
      padding-left: 75px;
      padding-right: 90px;

      background-color: #ffffff;
    }

    z-index: 2;
  }

  .contacts__map {
    min-height: 400px;
  }

  .contacts__map-link {
    &::before {
      top: 50%;
      left: 75%;

      transform: translate(-75%, -50%);
    }
  }


  .contacts__address {
    width: 155px;

    text-align: left;
  }
}
