.contacts__address-box {
  padding: 36px 20px 32px 20px;
}

.contacts__address {
  font-family: $second-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}

.contacts__cooperation {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
