.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__title {
  font-family: $second-font;
  font-size: 16px;
  line-height: 16px;

  @include link;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  @include link;

  &:active {
    opacity: 0.3;
  }

  svg {
    &:hover {
      fill: #68b738;
    }
  }
}

@media (min-width: $tablet-width) {
  .copyright__title {
    margin-right: 25px;
  }
}
