@media (min-width: $desktop-width) {
  .index-body__page-header {
    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      width: 720px;
      height: 696px;

      background-color: $bg-color;
      background-image: url("./../img/index-background-desktop@1x.jpg");
      background-size: cover;

      z-index: 2;
    }
  }

  .index-body__page-header.main-nav__link {
    position: relative;

    color: $second-font-color;

    z-index: 3;
  }
}
