.intro {
  position: relative;

  color: $second-font-color;

  text-align: center;

  &::after {
    content: "";

    position: absolute;
    top: 166px;
    left: 50%;

    width: 280px;
    height: 270px;
    margin-left: -140px;


    background-image: url("./../img/index-can-mobile@1x.png");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 3;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/index-can-mobile@2x.png");
    }
  }
}

.intro__title {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.intro__slogan-box {
  min-height: 305px;
  padding-top: 27px;

  background-color: $bg-color;
  background-image: url("./../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("./../img/index-background-mobile@2x.jpg");
  }
}

.intro__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.intro__promo {
  padding-top: 121px;
}

@media (min-width: $tablet-width) {
  .intro {
    padding-bottom: 520px;

    &::after {
      top: 252px;

      width: 709px;
      height: 609px;
      margin-left: -354.5px;

      background-image: url("./../img/index-can-tablet@1x.jpg");

      z-index: -1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("./../img/index-can-tablet@2x.jpg");
      }
    }
  }

  .intro__title {
    width: 500px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .intro__slogan-box {
    padding-top: 52px;
    min-height: auto;

    text-align: left;
    color: $main-font-color;

    background-color: #ffffff;
    background-image: none;

    .wrapper {
      padding-left: 120px;
    }
  }

  .intro__slogan {
    margin-top: 40px;
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
  }

  .intro__promo {
    padding-top: 0;

    .wrapper {
      padding-left: 120px;
    }
  }

  .intro__btn {
    width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-bottom: 270px;

    background-image: none;

    &::after {
      top: 4.3%;
      left: 58%;

      width: 552px;
      height: 499px;
      margin-left: -276px;

      background-image: url("./../img/index-can-desktop@1x.png");

      z-index: 3;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("./../img/index-can-desktop@2x.png");
      }
    }
  }

  .intro__slogan-box {
    position: relative;

    padding-top: 110px;
  }

  .intro__slogan {
    margin-bottom: 53px;
  }
}
