.life-example {
  padding-top: 17px;

  background-color: $second-bg-color;
}

.life-example__title {
  margin-top: 0;
  margin-bottom: 21px;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.life-example__description {
  margin-top: 0;
  margin-bottom: 27px;

  font-family: $second-font;

  font-size: 14px;
  line-height: 18px;

  padding-right: 10px;
}

.life-example__story-box {
  margin-bottom: 35px;
}

.life-example__img-box {
  position: relative;

  display: flex;
  min-height: 240px;
  margin-bottom: 30px;
}

.life-example__img {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  img {
    height: 100%;
  }
}

.life-example__results-list {
  @include list;

  display: flex;

  margin-bottom: 35px;

  justify-content: space-between;
}

.life-example__results-box {
  position: relative;

  width: 124px;
  padding-top: 14px;
  padding-bottom: 15px;

  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.life-example__result-title {
  position: absolute;
  bottom: -15px;
  left: 50%;

  width: 86px;
  padding: 0 16px;

  background-color: $second-bg-color;
  font-family: $second-font;
  font-size: 12px;
  line-height: 12px;

  transform: translateX(-50%);
}

.life-example__result-value {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

.life-example__nutrition-cost {
  margin-bottom: 0;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.life-example__slider {
  .wrapper {
    padding-bottom: 31px;
  }
}

.life-example__controls-box {
  display: flex;
  justify-content: space-between;

  padding-left: 43px;
  padding-right: 39px;
}

.life-example__controls {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  align-items: center;

  width: 84px;
  height: 14px;
  padding: 3px 5px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}

.life-example__control {
  width: 50%;
  height: 6px;

  background-color: $bg-color;
  border-radius: 10px;
}

.life-example__control-btn {
  padding: 0 0 5px 0;
  border: none;

  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;

  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .life-example {
    padding-bottom: 0;

    background-color: #ffffff;
  }

  .life-example__title {
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;

    background-color: #ffffff;
  }

  .life-example__description {
    margin-bottom: 52px;

    font-size: 16px;
    line-height: 24px;
  }

  .life-example__story-box {
    margin-bottom: 171px;
  }

  .life-example__img-box {
    margin: 0;
    padding-bottom: 365px;

    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);

    img {
      width: 677px;
      height: 510px;
    }
  }

  .life-example__img {
    top: -160px;
    width: 50%;

    &--after {
      left: unset;
      right: 0;
    }
  }

  .life-example__results-list {
    margin-bottom: 0;
  }

  .life-example__results-box {
    width: 162px;
    margin-right: 42px;
    padding: 16.5px 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .life-example__result-value {
    font-size: 30px;
    line-height: 37px;
  }

  .life-example__result-title {
    bottom: -5px;

    padding: 0;

    font-size: 14px;
    line-height: 14px;

    background-color: #ffffff;

    &--weight {
      width: 117px;
    }

    &--time {
      width: 140px;
    }
  }

  .life-example__nutrition-cost {
    align-self: center;

    width: 190px;
    margin-top: 0;

    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .life-example__cost-value {
    display: inline-block;
    margin-top: 8px;
  }

  .life-example__result-wrapper {
    display: flex;

    padding-bottom: 85px;

    justify-content: space-between;
  }

  .life-example__slider {
    position: relative;

    padding-bottom: 40px;

    .wrapper {
      padding-bottom: 71px;

      background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    }
  }

  .life-example__controls-box {
    position: relative;

    display: flex;
    padding: 0 68px;

    z-index: 2;
  }

  .life-example__control-btn {
    font-size: 20px;

    border-bottom: 1px dotted #bebebe;

    &:first-of-type {
      margin-right: 25px;
    }

    &:nth-of-type(2) {
      margin-left: 25px;
    }
  }

  .life-example__controls {
    justify-content: center;

    width: 428px;
    height: 6px;

    background-color: #dcdcdc;
    border: none;
  }

  .life-example__control {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 34px;
    height: 34px;

    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 50%;
  }

  .life-example__control-inner {
    width: 8px;
    height: 8px;

    background-color: $bg-color;
    border-radius: 50%;
  }
}

@media (min-width: $desktop-width) {
  .life-example__content-box {
    background: linear-gradient(to right, #f2f2f2 71.8%, #eaeaea 28.2%);

    .wrapper {
      width: auto;
      margin: 0;
      padding: 0;
    }
  }

  .life-example__container {
    display: flex;
    justify-content: space-between;

    width: $desktop-width;
    margin: 0 auto;
    padding: $desktop-padding;
    padding-top: 74px;
    padding-bottom: 70px;
  }

  .life-example__title {
    margin-bottom: 75px;
  }

  .life-example__story-box {
    margin-bottom: 0;
  }

  .life-example__description {
    width: 433px;
    margin-bottom: 65px;
    padding-right: 0;
  }

  .life-example__results-list {
    margin-bottom: 60px;
  }

  .life-example__result-wrapper {
    flex-direction: column;

    width: 366px;
    padding-bottom: 0;
  }

  .life-example__nutrition-cost {
    width: 100%;
    margin: 0;

    text-align: left;
  }

  .life-example__cost-value {
    display: inline-block;
    vertical-align: top;

    margin-top: 0;
    margin-left: 60px;
  }

  .life-example__result-title {
    background-color: #f2f2f2;
  }

  .life-example__slider {
    padding-bottom: 0;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      min-height: 277px;

      background: none;
    }
  }

  .life-example__img-box {
    min-height: 230px;
    margin-bottom: 62px;
  }

  .life-example__controls-box {
    padding-right: 0;
  }
}
