.main-nav {
  @include list;
}

.main-nav__item {
  position: relative;

  padding: 25px 0;

  text-align: center;

  border-top: 1px solid #e6e6e6;

  z-index: 2;
}

.main-nav__link {
  @include link;

  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item {
    margin-right: 28px;
    padding-top: 0;
    padding-bottom: 12px;

    border-top: none;

    &--active {
      border-bottom: 2px solid $bg-color;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    margin-right: 40px;

    &--active--second-theme {
      border-bottom-color: $second-bg-color;
    }
  }

  .main-nav__link {
    font-size: 20px;
  }
}
