.main-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include list;

  &--close {
    display: none;
  }
}

.main-nav__item {
  position: relative;

  padding: 25px 0;

  text-align: center;

  border-top: 1px solid #e6e6e6;

  z-index: 2;
}

.main-nav__link {
  @include link;

  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $title-font-color;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:visited {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
  }

  .main-nav__item {
    margin-bottom: 15px;
    margin-right: 35px;
    padding-top: 0;
    padding-bottom: 8px;

    border-top: none;

    &--active {
      border-bottom: 2px solid $bg-color;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;

    color: #222222;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    margin-right: 34px;

    &--second-theme {
      border-bottom-color: $second-bg-color;
    }
  }

  .main-nav__link {
    font-size: 20px;
    color: $title-font-color;

    &--second-style {
      position: relative;

      color: $second-font-color;

      z-index: 3;
    }
  }
}
