.main-nav {
  @include list;
}

.main-nav__item {
  padding: 25px 0;

  text-align: center;

  border-top: 1px solid #e6e6e6;
}

.main-nav__link {
  @include link;

  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-nav__item {
    margin-right: 35px;
    padding-top: 6px;

    border: none;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .main-nav__link {
    font-size: 18px;
  }
}
