.page-header {
  position: relative;

  padding-top: 10px;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.page-header__nav--no-js {
  .page-header__burger-btn {
    display: none;
  }
}

.page-header__site-logo {
  padding: 0 $mobile-padding 16px;
}

.page-header__main-nav {
  display: flex;
  flex-direction: column;
}


.page-header__burger-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 24px;
  }

  .page-header__nav {
    display: flex;
    align-items: center;

    padding-top: 12px;
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;

    padding: 0 $tablet-padding;
    padding-bottom: 0;
  }

  .page-header__main-nav {
    flex-direction: row;
  }

  .page-header__site-logo {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    padding: 0 $desktop-padding;
  }

  .page-header {
    padding-top: 54px;
  }
}
