.page-footer {
  padding-top: 40px;

  background-color: $second-bg-color;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.page-footer__logo {
  padding-bottom: 30px;

  text-align: center;

  border-bottom: 1px solid #d9d9d9;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social-box {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 17px;

  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright {
  padding-top: 17px;
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 50px;

    .wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .page-footer__logo {
    padding: 0;

    border: none;
  }

  .page-footer__copyright {
    padding: 0;
  }

  .page-footer__social-box {
    margin-left: 38px;
    padding: 0;

    border-bottom: none;
  }
}
