.page-header {
  position: relative;

  padding-top: 10px;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.page-header__site-logo {
  align-self: flex-start;
  padding: 0 $mobile-padding 15px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__burger-btn {
  position: absolute;
  top: 23px;
  right: 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 22px;
  }

  .page-header__nav {
    display: flex;
    align-items: center;

    padding-top: 9px;

    .page-header__burger-btn {
      display: none;
    }
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;

    padding: 0 $tablet-padding;
    padding-bottom: 0;
  }

  .page-header__site-logo {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    padding: 0 $desktop-padding;
  }

  .page-header {
    padding-top: 54px;
  }
}
