.popular-catalog__list {
  @include list;
}

.popular-catalog__item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 24px 20px;

  border-bottom: 1px solid #ededed;

  &--show-more {
    position: relative;

    display: block;
    padding-top: 79px;

    text-align: center;
  }
}

.popular-catalog__item-name {
  width: 75px;
  margin-top: 21px;
  margin-bottom: 13px;

  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.popular-catalog__item-link {
  @include link;
}

.popular-catalog__item-img {
  height: 142px;
}

.popular-catalog__item-description {
  width: 140px;
  padding: 0;

  font-family: $second-font;
  font-size: 12px;
  line-height: 14px;

  border-spacing: 0;
}

.popular-catalog__more-tastes {
  margin-top: 8px;
  margin-bottom: 20px;

  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
}

.popular-catalog__btn {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popular-catalog__more-populars {
  @include link;

  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 50%;

    width: 30px;
    height: 30px;
    margin-left: -15px;

    background-image: url("./../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
  }
}

.popular-catalog__description-value {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .popular-catalog__list {
    display: flex;
    flex-wrap: wrap;


    width: $tablet-width;
    margin: 0 auto;
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
  }

  .popular-catalog__item {
    position: relative;
    align-self: flex-start;

    width: 324px;
    min-height: 431px;
    margin-right: 60px;
    margin-bottom: 140px;
    padding: 164px 37px 39px 38px;

    background-color: $second-bg-color;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &:nth-last-child(1) {
      display: flex;
      align-content: space-between;
      align-items: flex-start;
      justify-content: center;

      margin-bottom: 0;


      background-color: #ffffff;
      border: 1px solid #e6e6e6;
    }
  }

  .popular-catalog__item-box {
    width: 100%;
    padding-bottom: 8px;
  }


  .popular-catalog__item-img {
    position: absolute;
    left: 50%;

    transform: translateX(-50%);

    &--big {
      top: -81px;

      width: 320px;
      height: 208px;
    }

    &--small {
      top: -45px;

      width: 320px;
      height: 172px;
    }
  }

  .popular-catalog__item-name {
    position: relative;
    left: 50%;

    width: 135px;
    margin-top: 0;
    margin-left: -67.5px;
    margin-bottom: 22px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .popular-catalog__more-populars {
    display: inline-block;
    vertical-align: top;
    width: 137px;

    font-size: 20px;

    &::before {
      top: 55px;

      width: 60px;
      height: 60px;
      margin-left: -30px;

      background-image: url("./../img/icon-plus.svg");
    }
  }

  .popular-catalog__more-tastes {
    width: 170px;
    margin-top: -50px;

    font-size: 16px;
  }

  .popular-catalog__item-description {
    width: 100%;
    margin-bottom: 25px;

    font-size: 16px;
    line-height: 16px;

    border-collapse: collapse;

    td {
      padding: 7px 0;
      border-bottom: 1px solid #cdcdcd;
    }
  }
}

@media (min-width: $desktop-width) {
  .popular-catalog__list {
    width: $desktop-width;
    padding-right: $desktop-padding;
    padding-left: $desktop-padding;
  }

  .popular-catalog__item {
    width: 245px;
    margin-right: 80px;

    &:nth-of-type(2n) {
      margin-right: 80px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4) {
      margin-bottom: 0;
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
      padding: 165px 38px 37px 38px;

      background-color: #ffffff;
      border: 1px solid #e6e6e6;
    }
  }

  .popular-catalog__more-tastes {
    margin-top: -37px;

    line-height: 18px;
  }
}
