.program-principles__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.program-principles__list {
  @include list;
}

.program-principles__item {
  position: relative;

  margin-bottom: 26px;
  padding-left: 80px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: -2px;
    left: 0;

    width: 60px;
    height: 60px;
    background-color: $bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px;
  }

  &--useful::before {
    background-image: url("./../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/advantage-leaf@2x.png");
    }
  }

  &--simply::before {
    background-image: url("./../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/advantage-powder@2x.png");
    }
  }

  &--nutritionally::before {
    background-image: url("./../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/advantage-dining@2x.png");
    }
  }

  &--effectively::before {
    background-image: url("./../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/advantage-clock@2x.png");
    }
  }
}

.program-principles__description {
  margin: 0;

  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .program-principles__title {
    margin-bottom: 72px;

    font-size: 60px;
    line-height: 60px;
  }

  .program-principles__description {
    font-size: 16px;
    line-height: 24px;

    span {
      margin-right: 5px;
    }
  }

  .program-principles__list {
    display: flex;
    flex-wrap: wrap;

    padding-bottom: 102px;
  }

  .program-principles__item {
    width: 245px;
    margin-right: 139px;
    margin-bottom: 133px;
    padding-top: 112px;
    padding-left: 0;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;
    }

    &::after {
      content: "";

      position: absolute;
      top: -40px;
      right: 0;

      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;

      z-index: -2;
    }

    &:first-of-type::after {
      content: "1";

      right: 15px;
    }

    &:nth-of-type(2)::after {
      content: "2";
    }

    &:nth-of-type(3)::after {
      content: "3";
    }

    &:nth-of-type(4)::after {
      content: "4";
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:nth-last-child(2),
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .program-principles__list {
    padding-bottom: 0;
  }

  .program-principles__item {
    margin-right: 80px;
    margin-bottom: 125px;

    &:nth-of-type(2n) {
      margin-right: 80px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
