.programs__list {
  @include list;
}

.programs__item {
  position: relative;

  margin-bottom: 20px;
  padding: 30px 20px 21px 20px;

  background-color: $second-bg-color;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 25px;
    left: 22px;

    width: 50px;
    height: 50px;

    background-color: $bg-color;
    border-radius: 50%;
  }

  &--fit-program::after {
    content: "";

    position: absolute;
    top: 22px;
    left: 30px;

    width: 35px;
    height: 49px;

    background-image: url("./../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--gain-program::after {
    content: "";

    position: absolute;
    top: 35px;
    left: 13px;

    width: 67px;
    height: 28px;

    background-image: url("./../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.programs__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 70px;

  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
  color: $title-font-color;
}

.programs__description {
  margin: 0;
  margin-bottom: 18px;
  padding-bottom: 21px;
  border-bottom: 1px solid #d9d9d9;

  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
}

.programs__link {
  position: relative;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $title-font-color;

  @include link;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: -35px;

    width: 24px;
    height: 11px;

    background-image: url("./../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;

    transform: translateY(-50%);
  }

  &:hover::after {
    right: -44px;

    width: 33px;

    background-image: url("./../img/icon-right-arrow-verylong.svg");
  }

  &:active,
  &:visited {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .programs__item {
    margin-bottom: 30px;
    padding: 77px 35px 60px 53px;

    &::before {
      top: 92px;
      left: auto;
      right: 62px;

      width: 200px;
      height: 200px;
    }

    &--fit-program::after {
      top: 80px;
      left: auto;
      right: 92px;

      width: 140px;
      height: 194px;
    }

    &--gain-program::after {
      top: 135px;
      left: auto;
      right: 28px;

      width: 268px;
      height: 112px;
    }
  }

  .programs__title {
    margin-bottom: 25px;
    padding-left: 0;

    font-size: 36px;
    line-height: 37px;
  }

  .programs__description {
    margin-bottom: 35px;

    font-size: 16px;
    line-height: 24px;

    border: none;

    &--fit {
      padding-right: 240px;
    }

    &--gain {
      padding-right: 280px;
    }
  }

  .programs__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      right: -46px;
    }

    &:hover::after {
      right: -55px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .programs__item {
    width: 570px;
    padding: 75px 53px 62px 52px;

    &::before {
      top: 47px;
      left: 52px;
      right: auto;

      width: 100px;
      height: 100px;

      transform: translateY(0);
    }

    &:last-of-type {
      margin-bottom: 30px;
    }

    &--fit-program::after {
      top: 41px;
      left: 66px;
      right: auto;

      width: 70px;
      height: 97px;
    }

    &--gain-program::after {
      top: 69px;
      left: 34px;
      right: auto;

      width: 134px;
      height: 56px;
    }
  }

  .programs__title {
    padding-left: 160px;
    margin-bottom: 70px;
  }

  .programs__description {
    margin-bottom: 15px;

    &--fit {
      padding-right: 0;
    }

    &--gain {
      padding-right: 0;
    }
  }
}
