.social-list {
  @include list;

  display: flex;
  justify-content: center;

  min-width: 100px;
}

.social-list__item {
  margin-right: 30px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  &:active {
    opacity: 0.3;
  }

  svg {
    &:hover {
      fill: #68b738;
    }
  }
}

@media (min-width: $tablet-width) {
  .social-list__item {
    margin-right: 23px;
  }

  .social-list__link {
    width: 30px;
    height: 30px;
  }

  .social-list__icon-vk {
    width: 30px;
    height: 16px;
  }

  .social-list__icon-insta {
    width: 23px;
    height: 23px;
  }

  .social-list__icon-fb {
    width: 14px;
    height: 28px;
  }
}
