.wrapper {
  display: block;

  width: auto;
  margin: 0 auto;
  padding: 0 $mobile-padding;
}

@media (min-width: $mobile-width) {
  .wrapper {
    padding: 0 $mobile-padding;
  }
}

@media (min-width: $tablet-width) {
  .wrapper {
    padding: 0 $tablet-padding;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: $desktop-width;
    padding: 0 $desktop-padding;
  }
}
