body {
  font-family: ("Oswald", "Arial", sans-serif);
}

a {
  text-decoration: none;
  color: $main-font-color;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
