@mixin size($width, $min-height) {
  width: $width;
  min-height: $min-height;
}

@mixin font($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin img {
  max-width: 100%;
  height: auto;
}

@mixin btn {
  display: block;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: $second-font-color;
  background-color: $bg-color;
}

@mixin title($weight, $transform) {
  font-weight: $weight;
  text-transform: $transform;
}

@mixin link {
  text-decoration: none;
  color: $main-font-color;
}

