body {
  font-family: ("Oswald", "Arial", sans-serif);
}

.index-body {
  @include font(14px, 18px);
}

.catalog-body {
  @include font(12px, 16px);
}

.programs__description,
.program-principles__item,
.life-example__description,
.life-example__result-title,
.contacts__address,
.copyright__title,
.popular-catalog__item-description,
.popular-catalog__more-tastes,
.additional-products__price-box,
.catalog-main__gift {
  font-family: $font-family;
}

.page-header {
  @include font(20px, 20px);
}

.intro__title {
  @include font(36px, 36px);
  font-weight: normal;
}

.intro__slogan,
.additional-products__price-box {
  @include font(14px, 14px);
}

.programs__title {
  @include font (24px, 37px);
}

.programs__link {
  text-transform: uppercase;
}

.programs__link,
.copyright__title,
.additional-products__product-name {
  @include font(16px, 16px);
}

.program-principles__title,
.life-example__title,
.catalog-main__page-title {
  @include font(36px, 60px);
  font-weight: normal;
}

.life-example__result-value,
.additional-products__title {
  @include font(24px, 24px);
  font-weight: normal;
}

.life-example__result-title {
  @include font(12px, 12px);
}

.life-example__nutrition-cost {
  line-height: 20px;
}

.contacts__address {
  @include font(14px, 20px);
  font-style: normal;
}

.contacts__cooperation,
.life-example__controls-title,
.popular-catalog__item-name,
.btn,
.popular-catalog__more-populars,
.catalog-main__gift {
  @include font(16px, 20px);
}

.popular-catalog__item-name,
.programs__title,
.life-example__controls-title,
.popular-catalog__more-populars,
.additional-products__product-name {
  @include title(normal, uppercase);
}
