$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$mobile-padding: 20px;
$tablet-padding: 30px;
$desktop-padding: 110px;

$second-font: "Arial", sans-serif;
$main-font-color: #000000;
$second-font-color: #ffffff;

$bg-color: #68b738;
$second-bg-color: #f2f2f2;
