.index-main {
  color: $main-font-color;
}

.index-main__intro {
  margin-bottom: 22px;
}

.index-main__programs {
  margin-bottom: 17px;
}

.index-main__program-principles {
  margin-bottom: 46px;
}

@media (min-width: $tablet-width) {
  .index-main__intro {
    margin-bottom: 9px;
  }

  .index-main__programs {
    margin-bottom: 45px;
  }

  .index-main__program-principles {
    margin-bottom: 27px;

    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: $desktop-width) {
  .index-main__intro {
    margin-bottom: 0;
  }

  .index-main__programs {
    margin-bottom: 40px;
  }

  .index-main__program-principles {
    margin-bottom: 0;
    border: none;
  }
}
