.checkbox__box {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border: 1px solid #e6e6e6;

  &::before {
    content: "";

    position: absolute;
    top: 15px;
    left: 3px;

    display: none;
    width: 11px;
    height: 2px;

    background-color: $bg-color;

    transform: rotate(47deg);
  }

  &::after {
    content: "";

    position: absolute;
    top: 12px;
    right: 0.5px;

    display: none;
    width: 20px;
    height: 2px;

    background-color: $bg-color;

    transform: rotate(-50deg);
  }
}

.checkbox__input:checked + .checkbox__box::before {
  display: block;
}

.checkbox__input:checked + .checkbox__box::after {
  display: block;
}

@media (min-width: $tablet-width) {
  .checkbox__box {
    width: 40px;
    height: 40px;

    &::before {
      top: 21px;
      left: 8px;

      width: 11px;
      height: 2px;
    }

    &::after {
      top: 18px;
      right: 5px;

      width: 20px;
      height: 2px;

      transform: rotate(-48deg);
    }
  }
}
